<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DBConnectionString"
             connectionString="Data Source=BLADIMIR-DESKTO\SQLEXPRESS; Initial Catalog=GestionMusica; User ID=sa; Password=123; Encrypt=False;"
             providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
